.colors-root {
  --lt-color-gray-100: #f8f9fc;
  --lt-color-gray-200: #f1f3f9;
  --lt-color-gray-300: #dee3ed;
  --lt-color-gray-400: #c2c9d6;
  --lt-color-gray-500: #8f96a3;
  --lt-color-gray-600: #5e636e;
  --lt-color-gray-700: #2f3237;
  --lt-color-gray-800: #1d1e20;
  --lt-color-gray-900: #111213;
  --lt-color-white: #fff;
  --lt-color-black: #111213;
  --lt-color-purple-100: #ff00cc;
  --lt-color-purple-200: #8e2de2;
  --lt-color-purple-400: #4a00e0;
  --lt-color-purple-500: #333399;
}
