<div class="description" *ngIf="employee">
  <div>
    <div class="description__image">
      <img [src]="employee.image" [alt]="employee.name">
    </div>

    <p>
      <b>Name:</b> {{employee.name}} {{employee.lastName}}
    </p>
    <p>
      <b>Phone number:</b> {{employee.phoneNumber}}
    </p>
    <p>
      <b>Email:</b> {{employee.email}}
    </p>
    <p>
      <b>Birthday date:</b> {{employee.birthdayDate | date}}
    </p>
    <p>
      <b>Hire date:</b> {{employee.hireDate | date}}
    </p>
  </div>

</div>
