.description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  transition: all 0.2s ease-in-out 0s !important;
  box-shadow: 0 10px 30px 0 rgba(67, 80, 98, 0.24),
    0 2px 4px 0 rgba(67, 80, 98, 0.1) !important;
  padding: 2rem 1rem;
  border-radius: 0.25rem;

  &--image {
    display: flex;
    justify-content: center;
  }
}

button {
  border-radius: 20px;
  border: 1px solid #8e2de2;
  background-color: #8e2de2;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
