<div class="description" *ngIf="employee">
  <div>
    <div class="description__image">
      <img *ngIf="employee.image" [src]="employee.image" [alt]="employee.name">
    </div>

    <form [formGroup]="employeeForm">
      <p>
        <b>Name: </b> <input [formControlName]="'name'">
      </p>
      <p>
        <b>Last name: </b> <input [formControlName]="'lastName'">
      </p>
      <p>
        <b>Phone number: </b> <input [formControlName]="'phoneNumber'">
      </p>
      <p>
        <b>Email: </b> <input [formControlName]="'email'" [disabled]="!!employee.email">
      </p>
      <div class="description__date">
        <input matInput [matDatepicker]="picker" [formControlName]="'birthdayDate'">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>

      <button (click)="validateEmployee()">
        Update Employee
      </button>
    </form>

  </div>

</div>