@import "./assets/styles/core.scss";

* {
  font-family: "Work Sans", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Work Sans", sans-serif;
}

a {
  transition: all 0.3s ease-in-out;
}
