<div class="jumbotron">
  <div class="jumbotron__container">
    <h1 class="jumbotron__container--title">
      TALENTU<br>Interview
    </h1>
  </div>
  <div class="jumbotron__rectangle-1"></div>
  <div class="jumbotron__rectangle-2"></div>
  <div class="jumbotron__rectangle-transparent-1"></div>
  <div class="jumbotron__rectangle-transparent-2"></div>
  <div class="jumbotron__circle jumbotron__circle-1"></div>
  <div class="jumbotron__circle jumbotron__circle-2"></div>
  <div class="jumbotron__circle jumbotron__circle-3"></div>
  <div class="jumbotron__triangle jumbotron__triangle-1">
    <img src="../../../assets/icons/icons-triangle.png" alt="">
  </div>
  <div class="jumbotron__triangle jumbotron__triangle-2">
    <img src="../../../assets/icons/icons-triangle.png" alt="">
  </div>
  <div class="jumbotron__triangle jumbotron__triangle-3">
    <img src="../../../assets/icons/icons-triangle.png" alt="">
  </div>
  <div class="jumbotron__triangle jumbotron__triangle-4">
    <img src="../../../assets/icons/icons-triangle.png" alt="">
  </div>
</div>
