<div class="description" *ngIf="employee">
  <div>
    <div class="description__image">
      <img *ngIf="employee.image" [src]="employee.image" [alt]="employee.name">
    </div>

    <form [formGroup]="employeeForm">
      <p>
        <b>Name: </b> <input [formControlName]="'name'">
      </p>
      <p>
        <b>Last name: </b> <input [formControlName]="'lastName'">
      </p>
      <p>
        <b>Phone number: </b> <input [formControlName]="'phoneNumber'">
      </p>
      <p>
        <b>Email: </b> <input [formControlName]="'email'" [email]="true">
      </p>
      <div class="description__date">
        <b>Birthday: </b> <input matInput [matDatepicker]="picker" [formControlName]="'birthdayDate'">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>

      <button (click)="validateEmployee()">
        <ng-container *ngIf="employee?.email; else elseTemplate">
          Update
        </ng-container>
        <ng-template #elseTemplate>
          Create employee
        </ng-template>
      </button>

      <button *ngIf="employee?.email" (click)="deleteEmployee()" class="description__delete"
        [ngStyle]="{'margin-left': employee.email ? '0rem' : '1rem'}">
        Delete
      </button>
    </form>

  </div>

</div>